workflows/eth_low_balance_twitter_dm_template
{
  "name": "ETH Low Balance Twitter Alert DM Template",
  "nodes": [
    {
      "parameters": {
        "values": {
          "number": [
            {
              "name": "lowBalanceThreshold",
              "value": 100000000
            }
          ]
        },
        "options": {}
      },
      "name": "Set Alert Parameters",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        896,
        304
      ],
      "id": "c2219675-da64-4e7d-8744-d5ce75ac7c9d",
      "notes": "Define the wallet to monitor and the low balance threshold in Lamports.\n100,000,000 = 0.1 SOL"
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.balances[0].raw }}",
              "value2": "={{ $('Set Alert Parameters').item.json.lowBalanceThreshold }}"
            }
          ]
        }
      },
      "name": "Balance < Threshold?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1344,
        304
      ],
      "id": "cd662513-0b75-44ce-8868-9214571a8a08"
    },
    {
      "parameters": {
        "url": "https://api.afkcrypto.com/v1/wallets/balances?chain=solana",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "name": "Get Wallet Balance via AFK",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1120,
        304
      ],
      "id": "48c95e37-15ef-4dba-8744-671de8dc49d8",
      "credentials": {
        "httpHeaderAuth": {
          "id": "TMb8pmWTMkxEjk1x",
          "name": "AFK_Crypto_API_Key"
        }
      },
      "notes": "Gets the wallet balance using the AFK Crypto API."
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        672,
        304
      ],
      "id": "f1066e53-3dfc-4aab-ab43-7b1bea2fe9cc",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "resource": "directMessage",
        "user": {
          "__rl": true,
          "value": "X_USERNAME",
          "mode": "username"
        },
        "text": "=⚠️ **Low Balance Alert** ⚠️\n\nThe balance of your SOL wallet `{{ $json.balances[0].address }}` is critically low!\n\n**Current Balance:** {{ $json.balances[0].raw }} ETH",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.twitter",
      "typeVersion": 2,
      "position": [
        1568,
        304
      ],
      "id": "1ac4a9aa-825a-41cd-a92b-fdcb69958918",
      "name": "Create Direct Message",
      "credentials": {
        "twitterOAuth2Api": {
          "id": "SVzx8uvEEkSvXSa7",
          "name": "X account"
        }
      }
    },
    {
      "parameters": {
        "content": "Try It Out!\nThis workflow monitors your AFK Crypto wallet’s SOL balance at regular intervals (e.g., hourly). If the balance falls below a defined threshold (default: 0.1 SOL), it automatically sends you a Twitter (X) Direct Message alert so you never miss a refill:\nHow it works:\n\nSchedule Trigger runs the workflow on your chosen interval (default: once per hour).\n\nSet Alert Parameters defines the minimum SOL balance threshold in Lamports (100,000,000 = 0.1 SOL).\n\nGet Wallet Balance via AFK checks your wallet balance using the AFK Crypto API.\n\nBalance < Threshold? evaluates whether your SOL balance is below the limit.\n\nCreate Direct Message (Twitter) sends you a private DM alert if the threshold is breached.\n\nHow to use:\n\nAdjust the Schedule Trigger to control how often the balance is checked.\n\nUpdate the lowBalanceThreshold value (in Lamports).\n\nConfigure your Twitter (X) username as the DM recipient.\n\nAdd your AFK Crypto API key and Twitter OAuth2 credentials in n8n.\n\nRequirements:\n\nAFK Crypto account and API key (www.afkcrypto.com\n)\n\nTwitter (X) account with developer access for sending DMs\n\nWallet with active SOL holdings to monitor\n\n⚡ Stay Alert, Never Run Out of SOL!",
        "height": 720,
        "width": 624
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1,
      "id": "1ee0082c-3486-48eb-b21c-3c103c8bbe80",
      "name": "Sticky Note"
    }
  ],
  "pinData": {},
  "connections": {
    "Set Alert Parameters": {
      "main": [
        [
          {
            "node": "Get Wallet Balance via AFK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Balance < Threshold?": {
      "main": [
        [
          {
            "node": "Create Direct Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Wallet Balance via AFK": {
      "main": [
        [
          {
            "node": "Balance < Threshold?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Set Alert Parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "5c3fbd3a-1e03-49a5-8681-a6ab421cc119",
  "meta": {
    "instanceId": "c4eae34af81eeff658410c97c38d8a485e4c73ba5cea5b25eef189aa5e5a73b9"
  },
  "id": "Zx8ot9wYy9b9pURg",
  "tags": []
}