workflows/evm-unlimited-token-approval
{
  "name": "EVM Unlimited Token Approval Template",
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "1cf29001-4dab-48d1-9eed-8221eb537c84"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "chain",
              "value": "ethereum"
            },
            {
              "name": "ownerAddress",
              "value": "0x9e9724322d5313fe2e0e2f9f18e2a2368631e834"
            },
            {
              "name": "tokenToApprove",
              "value": "0x1c7D4B196Cb0C7B01d743Fbc6116a902379C7aA8"
            },
            {
              "name": "spenderAddress",
              "value": "0x9a489505a00cE272eAa5e07Dba6491314Ca2e896"
            },
            {
              "name": "amount",
              "value": "115792089237316195423570985008687907853269984665640564039457584007913129639935"
            }
          ]
        },
        "options": {}
      },
      "name": "Set Approval Details",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        224,
        0
      ],
      "id": "165be2b8-2021-443c-a0b2-e2be10ce9a40",
      "notes": "Define the details for the token approval.\nThe default token is Sepolia USDC.\nSetting amount to \"-1\" grants an unlimited approval."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.afkcrypto.com/v1/token/approve",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Idempotency-Key",
              "value": "={{ $execution.id }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"chain\": \"{{ $json.chain }}\",\n  \"owner\": \"{{ $json.ownerAddress }}\",\n  \"token\": \"{{ $json.tokenToApprove }}\",\n  \"spender\": \"{{ $json.spenderAddress }}\",\n  \"amount\": \"{{ $json.amount }}\"\n}",
        "options": {}
      },
      "name": "Approve Token Spending",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        448,
        0
      ],
      "id": "4905ece9-6fa7-4ac5-ad97-c7cb3e7f4f5b",
      "credentials": {
        "httpHeaderAuth": {
          "id": "TMb8pmWTMkxEjk1x",
          "name": "AFK_Crypto_API_Key"
        }
      }
    },
    {
      "parameters": {
        "content": "Try It Out!\nThis workflow lets you grant unlimited approval for an ERC-20 token on an EVM-compatible chain (like Ethereum). It’s useful when you want a trusted application (such as a decentralized exchange) to always have permission to move your tokens without requesting approval each time. The workflow is triggered manually, so you stay in control of when this powerful action is executed.\n\nHow it works:\n\nStart manually triggers the workflow.\n\nSet Approval Details defines the chain, wallet, token contract, spender contract, and approval amount (set to uint256 max for unlimited approval).\n\nApprove Token Spending calls the AFK Crypto API to submit the unlimited approval transaction to the blockchain.\n\nHow to use:\n\nReplace AFK_CRYPTO_WALLET with your AFK Crypto wallet address.\n\nUpdate tokenToApprove with the token contract address you want to grant unlimited approval for.\n\nUpdate spenderAddress with the DApp or contract that will be allowed to spend your tokens.\n\nThe amount is already set to the maximum uint256 value (which equals unlimited approval).\n\nRun the workflow manually each time you want to grant an unlimited approval.\n\nRequirements:\n\nAFK Crypto account and API key (www.afkcrypto.com\n)\n\nEVM-compatible wallet with the tokens you want to approve\n\nToken and spender contract addresses you trust\n\n⚡ One Approval, Unlimited Access (Use Responsibly!)",
        "height": 816,
        "width": 576
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -592,
        -352
      ],
      "typeVersion": 1,
      "id": "5a2c8881-5eea-4ac4-aff0-02cbcd34b3c1",
      "name": "Sticky Note"
    }
  ],
  "pinData": {},
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Set Approval Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Approval Details": {
      "main": [
        [
          {
            "node": "Approve Token Spending",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "2afe315a-1d63-4163-bf98-3b1ef146c9df",
  "meta": {
    "instanceId": "c4eae34af81eeff658410c97c38d8a485e4c73ba5cea5b25eef189aa5e5a73b9"
  },
  "id": "eEZAReS7FgWlnZwG",
  "tags": []
}