workflows/price-based-eth-sender-with-telegram-approval
{
  "name": "Price Based ETH Sender with Telegram Approval",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://app.afkcrypto.com/api/v1/send",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Idempotency-Key",
              "value": "={{ $execution.id }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"chain\": \"{{ $('Edit Fields1').item.json.chain }}\",\n  \"to\": \"{{ $('Edit Fields1').item.json.to }}\",\n  \"asset\": \"native\",\n  \"amount\": \"{{ $('Edit Fields1').item.json.amount }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -448,
        96
      ],
      "id": "d755b3c1-cddd-459b-a303-773e364246eb",
      "name": "Send Crypto1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "TMb8pmWTMkxEjk1x",
          "name": "AFK_Crypto_API_Key"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7dd7c010-9a2a-45af-88df-f9c13e77edd3",
              "leftValue": "={{ $json.data.approved }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -672,
        192
      ],
      "id": "6ce121cc-9f54-4ef5-9fac-b83ba348dbc6",
      "name": "If Approved/Disapproved1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "41b6aa3e-a10c-4f90-a40f-c26f09252a3f",
              "leftValue": "={{ $json.status }}",
              "rightValue": "SUBMITTED",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -224,
        96
      ],
      "id": "1c1092b1-88ca-4501-aff6-872a25c32bb0",
      "name": "If Sent/Invalid1"
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "chatId": "5818731857",
        "message": "=Did you request this transaction⁉️\n\nRecipient: {{ $json.to }}\nChain: {{ $json.chain }}\nAmount: {{ $json.threshold }}",
        "approvalOptions": {
          "values": {
            "approvalType": "double"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -896,
        192
      ],
      "id": "1a3839cb-cf43-49ae-a111-50b0fe39c074",
      "name": "Send and Wait for Response1",
      "webhookId": "8ad3b185-3033-4d5c-a799-16edb11c5239",
      "credentials": {
        "telegramApi": {
          "id": "P5PVPL3oGa7q3l59",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "5818731857",
        "text": "=Transaction cancelled⚠️\n\nRecepient: {{ $('Edit Fields1').item.json.to }}\nCurrency: {{ $('Edit Fields1').item.json.chain }}\nAmount: {{ $('Edit Fields1').item.json.threshold }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -448,
        288
      ],
      "id": "bb27a57c-e40a-4a7f-8902-9b28856c801a",
      "name": "Transaction cancelled⚠️1",
      "webhookId": "821168d9-485b-4d85-875d-d9a5f7fc01e9",
      "credentials": {
        "telegramApi": {
          "id": "P5PVPL3oGa7q3l59",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "5818731857",
        "text": "=Transaction failed⚠️\n\nRecepient: {{ $('Edit Fields1').item.json.to }}\nCurrency: {{ $('Edit Fields1').item.json.chain }}\nAmount: {{ $('Edit Fields1').item.json.threshold }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        0,
        192
      ],
      "id": "8ec4aba9-ae96-45cb-984d-0313289f6301",
      "name": "Transaction failed⚠️1",
      "webhookId": "821168d9-485b-4d85-875d-d9a5f7fc01e9",
      "credentials": {
        "telegramApi": {
          "id": "P5PVPL3oGa7q3l59",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "5818731857",
        "text": "=SOL Sent successfully✅\n\nRecepient: {{ $('Edit Fields1').item.json.to }}\nCurrency: {{ $('Edit Fields1').item.json.chain }}\nAmount: {{ $('Edit Fields1').item.json.threshold }}\nHash: {{ $('Send Crypto1').item.json.hash }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "79d68b45-40bc-4983-b5c2-65e750e4e700",
      "name": "Order Confirmation1",
      "webhookId": "2dba5e8f-50df-4797-984e-59f2990de4d8",
      "credentials": {
        "telegramApi": {
          "id": "P5PVPL3oGa7q3l59",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "846ebd60-19a1-4d57-b2d6-29d37014b765",
              "name": "chain",
              "value": "ethereum",
              "type": "string"
            },
            {
              "id": "a06dc3d7-d105-4de6-bde7-afec62ffc0d5",
              "name": "to",
              "value": "RECIPIENT_WALLET_ADDRESS",
              "type": "string"
            },
            {
              "id": "a9086f2d-b9f8-4a09-bc9e-c0d8a92cd51e",
              "name": "asset",
              "value": "native",
              "type": "string"
            },
            {
              "id": "ddfeea2e-fe6c-4061-80fd-abaece79227e",
              "name": "threshold",
              "value": "YOUR_SET_THRESHOLD",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1344,
        192
      ],
      "id": "d5e85424-b7cd-4b25-821a-4b9d116e0d07",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "url": "https://api.coingecko.com/api/v3/simple/price?ids=ethereum&vs_currencies=usd",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1568,
        192
      ],
      "id": "d80f9d68-d70f-426d-a054-f473e680755a",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": null,
            "leftValue": "",
            "typeValidation": null,
            "version": null
          },
          "conditions": [
            {
              "id": "6e3f10a1-68fc-48a2-87ed-8ea2dfd84d2c",
              "leftValue": "={{ $json.threshold }}",
              "rightValue": "={{ $('HTTP Request').item.json.ethereum.usd }}",
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1120,
        192
      ],
      "id": "52e2ba69-6146-4e50-93e0-e56b607d5203",
      "name": "If"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1792,
        192
      ],
      "id": "e528d4e1-806e-49bb-a7ae-dce00ba2bcdc",
      "name": "Every Minute"
    }
  ],
  "pinData": {},
  "connections": {
    "Send Crypto1": {
      "main": [
        [
          {
            "node": "If Sent/Invalid1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Approved/Disapproved1": {
      "main": [
        [
          {
            "node": "Send Crypto1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Transaction cancelled⚠️1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Sent/Invalid1": {
      "main": [
        [
          {
            "node": "Order Confirmation1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Transaction failed⚠️1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send and Wait for Response1": {
      "main": [
        [
          {
            "node": "If Approved/Disapproved1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send and Wait for Response1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Every Minute": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "67ba7093-9152-4663-a75e-1550ead1e443",
  "meta": {
    "instanceId": "c4eae34af81eeff658410c97c38d8a485e4c73ba5cea5b25eef189aa5e5a73b9"
  },
  "id": "xvXO7dn7hRfqG717",
  "tags": []
}