workflows/sol_event_triggered_swap_news_driven_trading_bot_via_telegram
{
  "name": "SOL Event-Triggered Swap (News-Driven Trading Bot) via Telegram",
  "nodes": [
    {
      "parameters": {
        "url": "https://cryptopanic.com/api/v1/posts/?auth_token=f192fbc5002da1170d723ff85a9a23d717e723d1&currencies=SOL,ETH&filter=important",
        "options": {}
      },
      "name": "Fetch News",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -1280,
        320
      ],
      "id": "15229c56-7882-471e-a146-dbe5aaee0870"
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.balances[0].raw }}",
              "operation": "largerEqual",
              "value2": 5000000000
            }
          ]
        }
      },
      "name": "Check SOL ≥ 5",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -32,
        320
      ],
      "id": "a93e1589-90f6-4987-9ae5-0b0fe967eace"
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "url": "https://api.afkcrypto.com/v1/trade/swap",
        "options": {},
        "headerParametersUi": {
          "parameter": [
            {
              "name": "Idempotency-Key",
              "value": "={{ $execution.id }}"
            }
          ]
        },
        "queryParametersUi": {
          "parameter": [
            {
              "name": "chain",
              "value": "solana"
            },
            {
              "name": "fromToken",
              "value": "SOL"
            },
            {
              "name": "toToken",
              "value": "Es9vMFrzaCERmJfrF4H2FYD4KCoNkY11McCe8BenwNYB"
            },
            {
              "name": "amount",
              "value": "10000000"
            }
          ]
        }
      },
      "name": "Swap to USDT",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        416,
        224
      ],
      "id": "60c45bec-fef9-4702-9de9-1714b351f24c",
      "credentials": {
        "httpHeaderAuth": {
          "id": "nnx8yhW5BkW736Dl",
          "name": "AFK_Crypto_API_Key"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Classify this headline: {{ $json[\"headline_text\"] }}",
        "options": {
          "systemMessage": "You are a sentiment classifier for crypto news headlines.\nAlways respond with exactly one of these strings: \"USDT\", \"USDC\", or \"NONE\".\nRules:\n• If bullish/positive → \"USDT\"\n• If bearish/negative → \"USDC\"\n• If neutral or unclear → \"NONE\""
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -1056,
        320
      ],
      "id": "7f892a42-c6ec-474e-a4e3-ea4585b57864",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Summarize this news item: {{ $json[\"headline_text\"] }}",
        "options": {
          "systemMessage": "You are a crypto news summarizer for traders.\nSummarize the given headline in 1–2 sentences, focusing only on facts.\nAvoid hype or speculation.\nThen append a sentiment tag in this exact format:\n[Sentiment: Positive], [Sentiment: Negative], or [Sentiment: Neutral]."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        640,
        320
      ],
      "id": "a7bc00ce-500f-4966-935b-ffa8f998eae4",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1504,
        320
      ],
      "id": "2faac9c9-8574-4eb9-99c8-3858e7aea401",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -992,
        544
      ],
      "id": "ac16c306-8c38-4de2-ab61-a6dea6cef5d6",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "L8XXcjbpCfOzCzPm",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        720,
        544
      ],
      "id": "42494199-39bd-41ec-9815-49a9f00c96e7",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "L8XXcjbpCfOzCzPm",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.afkcrypto.com/v1/wallets/balances?chain=solana",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -256,
        320
      ],
      "id": "830208a4-082b-4b82-8728-869ec810548d",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "nnx8yhW5BkW736Dl",
          "name": "AFK_Crypto_API_Key"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "12e8aef5-9ae9-47ec-b8d6-7f03bf5d6665",
              "leftValue": "={{ $json.output }}",
              "rightValue": "USDT",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -704,
        320
      ],
      "id": "747e2638-a2f1-46ec-9a0b-edeeffe53f29",
      "name": "If"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0c43ca85-6fa3-45b9-8370-401292279917",
              "leftValue": "={{ $json.output }}",
              "rightValue": "USDC",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -480,
        400
      ],
      "id": "85c749ca-bcce-46f6-9935-05b6a714beb6",
      "name": "If1"
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "url": "https://api.afkcrypto.com/v1/trade/swap",
        "options": {},
        "headerParametersUi": {
          "parameter": [
            {
              "name": "Idempotency-Key",
              "value": "={{ $execution.id }}"
            }
          ]
        },
        "queryParametersUi": {
          "parameter": [
            {
              "name": "chain",
              "value": "solana"
            },
            {
              "name": "fromToken",
              "value": "So11111111111111111111111111111111111111112"
            },
            {
              "name": "toToken",
              "value": "4zMMC9srt5Ri5X14GAgXhaHii3GnPAEERYPJgZJDncDU"
            },
            {
              "name": "amount",
              "value": "10000000"
            }
          ]
        }
      },
      "name": "Swap to USDT1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        416,
        416
      ],
      "id": "a897ee73-afcc-417e-94df-10fc56101da1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "nnx8yhW5BkW736Dl",
          "name": "AFK_Crypto_API_Key"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c79347b9-79db-48f4-a5fd-5420c82cd1a0",
              "leftValue": "={{ $('If').item.json.output }}",
              "rightValue": "USDT",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        192,
        320
      ],
      "id": "13ac757b-b8d7-41be-abb6-552021bd4f28",
      "name": "If2"
    },
    {
      "parameters": {
        "chatId": "CHAT_ID",
        "text": "=📰 {{ $json[\"summary\"] }}\n\n💱 Recommended Swap: {{ $json[\"sentiment\"] }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        992,
        320
      ],
      "id": "9bc0c6b2-b50d-4aa9-b7d2-5355f90f24c5",
      "name": "Send a text message",
      "webhookId": "9404dd43-faf0-4928-ac9c-6063a8625a0f",
      "credentials": {
        "telegramApi": {
          "id": "P5PVPL3oGa7q3l59",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Try It Out! – SOL News-Driven Trading Bot via Telegram\n\nAutomate defensive Solana (SOL) trading with minimal monitoring.\nThis workflow fetches the latest crypto headlines, analyzes sentiment via Gemini AI, and — if your wallet holds ≥5 SOL — executes safe swaps via the AFK Crypto API. Updates are sent to your Telegram every 15 minutes.\n\nHow It Works\n\nTrigger Every 15 Minutes\nThe workflow is automatically triggered using the Schedule Trigger node.\n\nFetch Latest Headlines\nImportant SOL and ETH news is retrieved via the Cryptopanic API.\n\nAI Sentiment Classification\nHeadlines are analyzed using Gemini AI:\n\nBullish / Positive → Swap SOL → USDT\n\nBearish / Negative → Swap SOL → USDC\n\nNeutral / Unclear → No Action\n\nWallet Balance Check\nEnsures your wallet contains at least 5 SOL before any swap is executed.\n\nSafe Swap Execution\nExecutes a 0.01 SOL swap (10,000,000 lamports) safely using the AFK Crypto /v1/trade/swap endpoint.\n\nSummarize & Broadcast\nGenerates a concise summary of the headline with the AI-suggested action, and posts it to your Telegram chat.\n\nHow to Use\n\nImport the JSON into your n8n workspace.\n\nAdd Credentials:\n\nAFK Crypto API Key – for swap execution\n\nCryptopanic API Key – to fetch headlines\n\nTelegram Bot Token – to post summaries\n\nGoogle Gemini (PaLM) API Key – for sentiment classification & summarization\n\nConfigure Telegram Node – set Chat ID.\n\nAdjust Swap Amount (optional) – default 0.01 SOL, adjustable based on risk preference.\n\nActivate Workflow – it will fetch news, analyze sentiment, execute swaps, and post to Telegram automatically every 15 minutes.\n\nSafe Trade Computation\n\n1 SOL = 1,000,000,000 lamports\n\nSwap Amount = 0.01 SOL\n\nLamports = 0.01 × 1,000,000,000 = 10,000,000 lamports\n\nThis ensures small, safe transactions for testing or automation.\n\nRequirements\n\nAFK Crypto Wallet + API Key (for swaps)\n\nCryptopanic API Key (for news headlines)\n\nTelegram Bot Token\n\nGoogle Gemini (PaLM) API Key\n\nn8n Instance with HTTP Request and LangChain nodes\n\nAPIs Used:\n\nCryptopanic News API\n\nAFK Crypto Wallet Balance API\n\nAFK Crypto Swap API\n\nSummary\n\nThis workflow is a SOL-focused, news-driven trading bot that combines real-time market sentiment analysis, wallet balance verification, and safe automated swaps.\nIt delivers actionable insights and executes defensive trades automatically, keeping your Telegram chat updated with concise, timely notifications.",
        "height": 1696,
        "width": 1136
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2752,
        -480
      ],
      "typeVersion": 1,
      "id": "790752b3-4a49-4b95-b388-df110fdf2f36",
      "name": "Sticky Note"
    }
  ],
  "pinData": {},
  "connections": {
    "Check SOL ≥ 5": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Fetch News": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Swap to USDT": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Fetch News",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Check SOL ≥ 5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Swap to USDT1": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Swap to USDT",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Swap to USDT1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "980d690b-cac0-4d55-8f34-7ac07225731e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c4eae34af81eeff658410c97c38d8a485e4c73ba5cea5b25eef189aa5e5a73b9"
  },
  "id": "G8mKvuK8PA4j01m7",
  "tags": []
}